@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Quicksand:wght@300..700&display=swap");

:root {
  --heading-font-family: "Merienda", Verdana, sans-serif;
  --body-font-family: "Quicksand", Verdana, sans-serif;
  --grey: #808080;
  --brown: #5C4033;
  --green: #76885B;
  --etsy-orange: #eb6d20;
  --green-30p-opacity: rgba(118, 136, 91, 0.3);
}

body {
  font-family: var(--body-font-family);
  color: var(--brown);
  font-weight: 400;
  font-size: 1.1em;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--green);
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-family: var(--heading-font-family);
  color: var(--brown);
  font-size: 2em;
  text-align: center;
}

h3 {
  font-family: var(--heading-font-family);
  color: var(--brown);
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
}

.card-with-button {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card-with-button p {
  margin: 10px;
  text-align: center;
  margin-top: 20px;
}
.card-with-button button {
  margin-bottom: 30px;
}

#content {
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: "carousel welcome" "etsy etsy";
}

#header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#header :nth-child(2) {
  font-size: 1em;
}

#home-carousel {
  grid-area: carousel;
  padding-top: 20px;
  margin-left: 40px;
}
#home-carousel .carousel-inner {
  border-radius: 15px;
}

#etsy-hero {
  grid-area: etsy;
  border: 2px solid lightgrey;
  border-radius: 15px;
}
#etsy-hero button {
  background-color: var(--etsy-orange);
  color: white;
  font-size: 1.2em;
}

#welcome {
  grid-area: welcome;
}
#welcome button {
  background-color: var(--green);
  color: white;
}
#welcome h2 {
  font-size: 3em;
}

#nav-bar {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  color: var(--brown);
  gap: 20px;
  border-bottom: 3px solid #C7B7A3;
}
#nav-bar p {
  margin-bottom: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
}

.gallery-image-tile {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-width: 200px;
}

.gallery-image-tile p {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 5px;
  color: var(--grey);
}

.gallery-image-tile img {
  max-width: 100%;
  max-height: 100%;
}

.gallery-image-tile .img-container {
  max-width: 100%;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-jump-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--green);
  width: 30%;
  max-width: 200px;
  height: 50px;
  border-radius: 50% 20%/10% 40%;
  background-color: var(--green-30p-opacity);
}

#gallery-jump-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
